/*
	Colors
		Background : #eceaea;
		lightblue : rgba(81, 166, 200,1);
		Black: #6d6e70;

	Fonts
		Copy: font-family: 'Montserrat', sans-serif;
		Display: font-family: 'Montserrat', sans-serif;

*/

html, body {
	height: 100%;
}

html {
	overflow: hidden;
}

body {
  min-height: 100%;
  background-color: #eceaea;
  position: relative;
  color: #6d6e70;
  font-family: 'Montserrat', sans-serif;

  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  overflow-x: hidden;
}

p {
	font-size: 1.2em;
}

h2 {
	font-size: 1.8em;
}

body.no-scroll, 
html.no-scroll {
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
}

a {
	text-decoration: none;
	color: rgba(81, 166, 200,1);
}

ul {
	padding-left: 0;
	list-style: none;
}

.app {
	padding: 20px 20px 80px 20px;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Header */

header {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;

	z-index: 2000;
}

	header .header__container {
		height: 50px;
		border-bottom: 1px solid rgba(0,0,0,.05);
		background-color: #eceaea;
		position: relative;
		box-sizing: border-box;
	}

	header .header__content {
		height: 100%;
		background-color: #eceaea;
		line-height: 50px;
	}

		header .logo{
			margin: 0;
			margin-left: 20px;
  		font-size: 1.4em;
  		text-shadow: 0 1px 0 rgba(0,0,0,.4);
		}

		header .header__content i {
			height: 50px;
			width: 50px;
			
			opacity: 0.6;
			text-align: center;
			text-shadow: 0 1px 0 rgba(0,0,0,.4);
		}

		header .header__content a {
			color: #6d6e70;
		}

		.header__content .go-prev,
		.header__content .go-next {
			transition: all 0.3s ease;
    	transition-property: opacity, margin-left, margin-right;
			white-space: nowrap;
    	font-size: 1em;
    	cursor: pointer;
    	opacity: 1;
		}

			.header__content .go-prev:hover,
			.header__content .go-next:hover {
				font-size: 1.2em;
			}

			.header__content .go-prev i,
			.header__content .go-next i {

			}

		.header__content .go-prev {
			float: left
		}

			.header__content .go-prev i {

			}

		.header__content .go-prev.hide {
			margin-left: -50px;
			opacity: 0;
		}

			.header__content .go-prev i {

			}

		.header__content .go-next {
			float: right;
		}

			.header__content .go-next.hide {
				margin-right: -50px;
				opacity: 0;
			}

			.header__content .go-next i {
				
			}

	header .header__content:before {
		-webkit-transition: opacity 0.3s ease;
		transition: opacity 0.3s ease;
		content: " ";
		box-shadow: 0 0 8px rgba(0,0,0,.5);
		top: 0;
		left: 8px;
		right: 8px;
	  margin: 0 auto;
	  height: 100%;
	  position: absolute;
	  z-index: -1;
	}

	header.topped .header__content:before {
		opacity: 0;
	}
	
.app {
	margin-top: 50px; /* Header height */
}

.paper {
	overflow: hidden;
  background: #fefcfc;
  padding: 10px 25px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 2px 0 #dedada;
  box-sizing: border-box;
}