.breadcrumbs {
	display: inline-block;
	vertical-align:middle;
	line-height: 2em;
}

.breadcrumbs__crumb {
	margin: 0;
	display: inline-block;
	vertical-align:middle;
	float: left;
	top: -2px;
	
	a {
		max-width: 160px;
	  padding-left: 0.5em;
	  box-sizing: border-box;
	  color: white;
	  position: relative;
	}

	&:last-child a{
  	padding-right: 0.5em;
  }

	i {
		width: auto;
		display: inline-block;
		line-height: $header-height;
	}
}