header {
	height: $header-height;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;

	background-color: $background-color;

	z-index: 2000;

	nav.navigation {
		height: $header-height;
	}

	.logo {
		margin: 0 10px 0 20px ;
		font-size: 1.4em;
		text-shadow: 0 1px 0 rgba(0,0,0,.4);
		display: inline-block;
	}
}

.header__container {
	height: $header-height;
	background-color: $background-color;

	position: relative;
	box-sizing: border-box;
}

.header__content {
	height: $header-height;
	line-height: 50px;

	i {
		height: 50px;
		line-height: 50px;
		width: 50px;
		
		opacity: 0.6;
		text-align: center;
		text-shadow: 0 1px 0 rgba(0,0,0,.4);
		
	}

	a {
		color: #6d6e70;
		height: 100%;
		display: inline-block;
		vertical-align: top;
	}

	&:before {
		-webkit-transition: opacity 0.3s ease;
		transition: opacity 0.3s ease;
		content: " ";
		box-shadow: 0 0 8px rgba(0,0,0,.5);
		top: 0;
		left: 8px;
		right: 8px;
	  margin: 0 auto;
	  height: 100%;
	  position: absolute;
	  z-index: -1;
	}
}

.topped .header__content:before {
	opacity: 0;
}