/* ================= 
 *	Colors
 * ================= */

$dark-grey: rgba(109, 110, 112, 1);
$light-grey: rgba(236, 234, 234, 1);
$light-blue: rgba(81, 166, 200, 1);
$white: rgba(254, 252, 252, 1);

$copy-color: $dark-grey;
$anchor-color: $light-blue;
$background-color: $light-grey;
$page-color: $white;