{{#if article}}
  {{#with article}}
  	<h2>WP Article</h2>

  	<div class="wp-post__wrapper {{#unless selected}} out-of-focus{{/unless}}">
      <div class="click-block"></div>
      <article class="wp-post" id="{{slug}}">
          <div class="wp-post__header">
            <h1>{{title}}</h1>
          </div>

          <div class="wp-post__content">{{{content}}}</div>

      </article>
    </div>
  {{/with}}
{{else}}
	<h2>Article not found</h2>

{{/if}}

