<div class="grid-container header__container">
	<div class="header__content">

		<a class="go-prev hide">
			<i class="fa fa-chevron-left"></i>
		</a>

		<a class="go-next hide">
			<i class="fa fa-chevron-right"></i>
		</a>

		<nav class="navigation" role="navigation" style="height: 100%;">
			<a href="#"><h1 class="logo">WP Reader</h1></a>
			<div class="breadcrumbs"></div>
		</nav>
		
	</div>
</div>