<div class="grid-container header__container">
	{{!-- <div class="header__shadow"></div> --}}
	<div class="header__content">

		<a class="go-prev hide">
			<i class="fa fa-chevron-left"></i>
		</a>

		<a class="go-next hide">
			<i class="fa fa-chevron-right"></i>
		</a>

		<nav class="controls">
			<a href="#"><h1 class="logo">WP Reader</h1></a>
		</nav>
		
	</div>
</div>