/* Avatar */

.avatar {
	width: 92px;
	height: 92px;
	border: 2px solid rgba(0,0,0, .2);
	border-radius: 50%;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
}

.article__content {
	width: 800px;
	max-width: 100%;
	margin: 0 auto;
}

.article__content *,
.article__content img {
	max-width: 100% !important;
  height: auto !important;
  word-wrap: break-word !important;
}

/* Listing */

.articles-list hr {
	border: none;
	border-bottom: 1px solid rgba(0,0,0, .125);
}

.articles-list hr:last-child {
	display: none;
}

.article-listing {
	position: relative;
	min-height: 100px;
	/*padding: 2px;*/
	padding: 0;
	/*padding-left: 110px;*/
	margin: 20px auto;
	/*display: table;*/
	width: 100%;
}

	.article-listing__details {
		display: inline-block;
		vertical-align: middle;
		max-width: 700px;
		max-width: calc(100% - 100px);
		box-sizing: border-box;
		padding: 10px;
	}

	.article-listing__details p {
		margin-bottom: 0;
	}

	.article-listing__details .truncater {
		display: block;
	}

	.article-listing__details .truncater .article-listing__title,
	.article-listing__details .truncater .by-line {
		display: block;
	}

	.article-listing .avatar {
		display: inline-block;
		vertical-align: middle;
	}

