/*
	Colors
		Background : #eceaea;
		lightblue : rgba(81, 166, 200,1);
		Black: #6d6e70;

	Fonts
		Copy: font-family: 'Montserrat', sans-serif;
		Display: font-family: 'Montserrat', sans-serif;

*/

html, body {
	height: 100%;
}

html {
	overflow: hidden;
}

body {
  min-height: 100%;
  background-color: #eceaea;
  position: relative;
  color: #6d6e70;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

p {
	font-size: 1.2em;
}

h2 {
	font-size: 1.8em;
}

body.no-scroll, 
html.no-scroll {
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
}

a {
	text-decoration: none;
	color: rgba(81, 166, 200,1);
}

ul {
	padding-left: 0;
	list-style: none;
}

.app {
	padding: 20px 20px 80px 20px;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}